{% extends 'admin/base.html' %}

{% block main %}

<div class="layui-fluid">
  <div class="layui-row layui-col-space10">
    <div class="layui-col-lg12">
      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>文章列表</legend>
      </fieldset>
    </div>

    <div class="layui-row layui-col-space10">
      <table id="posts-table" lay-filter="posts-table-filter"></table>
    </div>
  </div>

  {% endblock %}
  {% block script %}
  {{ super() }}
  <script src="{{url_for('static',filename='/js/post.js')}}" charset="utf-8"></script>

  {% endblock %}