{% extends 'admin/base.html' %}
{% include 'admin/header.html' %}

{% block main %}

<div class="layui-fluid">
  <table id="posts" lay-filter="posts"></table>
</div>

{% endblock %}
{% block script %}
{{ super() }}
<script>
layui.use('table', function(){
  var table = layui.table;

  //第一个实例
  table.render({
    elem: '#posts'
    ,height: 312
    ,url: '/admin/posts' //数据接口
    // 设置响应数据字段名称
    ,response: {
        statusCode: 20000000 //规定成功的状态码，默认：0
        ,msgName: 'message' //规定状态信息的字段名称，默认：msg
    }
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
      ,{field: 'title', title: '标题', width:80}
      ,{field: 'name', title: '分类', width:80, sort: true}
      ,{field: 'username', title: '作者', width:80}
      ,{field: 'updatetime', title: '更新时间', width: 177}
    ]]
  });

});



</script>
{% endblock %}