<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>FlaskCMS后台管理系统</title>
    {% endif %}

    <meta name="keywords" content="FlaskCMS后台管理系统">
    <meta name="description"
          content="FlaskCMS是基于一款基于Flask的CMS系统，基于该系统，可以方便的的搭建自己的内容管理系统或者博客系统">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="../../static/images/favicon.ico">
    {% block style %}
        <link rel="stylesheet" href="../../static/lib/layui/css/layui.css" media="all">
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body class="layui-layout-body">
{% block main %}{% endblock %}

</div>

{% block script %}
    {#    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../static/lib/layui/layui.all.js" charset="utf-8"></script>


    <script>
        $(document).ready(function () {
            $("dd>a").click(function (e) {
                e.preventDefault();
                $("#iframeMain").attr("src", $(this).attr("href"));
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("li>a").click(function (e) {
                e.preventDefault();
                $("#iframeMain").attr("src", $(this).attr("href"));
            });
        });
    </script>
{% endblock %}

</body>
</html>
