<div class="layui-row layui-col-space5 layui-header layui-bg-cyan ">
    <div class="layui-col-lg2">
        this is LOGO
    </div>
    <div class="layui-col-lg10">
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item"><a href="">最新活动</a></li>
            <li class="layui-nav-item layui-this"><a href="">产品</a></li>
            <li class="layui-nav-item"><a href="">大数据</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="">移动模块</a></dd>
                    <dd><a href="">后台模版</a></dd>
                    <dd><a href="">电商平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">社区</a></li>
            <li class="layui-nav-item"><a href="/admin/register">注册</a></li>
            <li class="layui-nav-item"><a href="/admin/login">登录</a></li>
        </ul>
    </div>
</div>
<div class="layui-row">
    <div class="layui-col-lg12">
        <div class="layui-col-lg12">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a href="">国际新闻</a>
                  <a href="">亚太地区</a>
                  <a><cite>正文</cite></a>
                </span>
        </div>
    </div>
</div>

